<div class="title">
    <h1>{{spendingDetailTitle}}</h1>
</div>

<div class="spending-button-container">
    <button mat-raised-button class="spending-button">
      Add Transaction
    </button>
</div>

<table mat-table [dataSource]="dataSource"  matSort (matSortChange)="sortData($event)" class="mat-elevation-z8">
    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by description"> Description </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>
    <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by amount"> Amount </th>
        <td mat-cell *matCellDef="let element" > {{element.amount}} </td>
    </ng-container>
    <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by category"> Category </th>
        <td mat-cell *matCellDef="let element"> {{element.category}} </td>
    </ng-container>
    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by date"> Date </th>
        <td mat-cell *matCellDef="let element" > {{element.date}} </td>
    </ng-container>
    <ng-container matColumnDef="personName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by person"> Person </th>
        <td mat-cell *matCellDef="let element" > {{element.personName}} </td>
    </ng-container>
     <!-- Action Column -->
    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element" > 
            <button mat-icon-button color="primary" class="iconbutton" (click)="openDialog('Update',element)"><mat-icon>edit</mat-icon></button>
            <button mat-icon-button color="primary" class="iconbutton" (click)="openDialog('Delete',element)"><mat-icon>delete</mat-icon></button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]"
                showFirstLastButtons 
                aria-label="Select page of periodic elements">
</mat-paginator>