<div class="title"><h1>{{spendingDetailTitle}}</h1></div>

<div class="spending-button-container">
    <button mat-raised-button class="spending-button">
      Add Transaction
    </button>
</div>

<mat-table [dataSource]="transactionList" class="mat-elevation-z8">
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="amount">
      <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
      <mat-cell *matCellDef="let element" > {{element.amount}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="category">
        <mat-header-cell *matHeaderCellDef> Category </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.category}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
        <mat-cell *matCellDef="let element" > {{element.date}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="personName">
        <mat-header-cell *matHeaderCellDef> Person </mat-header-cell>
        <mat-cell *matCellDef="let element" > {{element.personName}} </mat-cell>
    </ng-container>
     <!-- Action Column -->
    <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
        <mat-cell *matCellDef="let element" > 
            <button mat-icon-button color="primary" class="iconbutton" (click)="openDialog('Update',element)"><mat-icon>edit</mat-icon></button>
            <button mat-icon-button color="primary" class="iconbutton" (click)="openDialog('Delete',element)"><mat-icon>delete</mat-icon></button>
        </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>